* {
    box-sizing: border-box;
}

.boby {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: darkgrey;
}

.button {
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 2px 2px 10px;
}